.Yangi{
    font-family: "Roboto", serif;
    font-size: 40px;
    margin-left: 40px;
    margin-top: 50px;
    display: inline-block;
}
.Barcha{
    color:  #FF730D;
    font-size: 24px;
    font-family: "Roboto", serif;
    display: inline-block;
    margin-top: 50px;
    margin-left: 800px;
 

}
.Orqa{
    display: inline-block;
    background-color:  #FF730D;
    color: white; 
    border: 1px solid   #FF730D;
    border-radius: 2px;
    margin-left: 12px;
    padding-top: 3px;
}
.Oldinga{   
        display: inline-block;
        background-color:   #FF730D;
        color: white; 
        border: 1px solid   #FF730D;
        border-radius: 2px;
        margin-left: 10px;
        padding-top: 3px;
}
.div1{
    margin-left: 40px;
    background: #FEFAFA;
border: 1px solid #FF730D;
width: max-content;
padding: 15px;
border-radius: 5px;
padding-bottom: 20px;
display: inline-block;

}
.E5{
    color: #978A89;
    font-family: "Roboto", serif;
display: inline-block;
font-size: 12px;
margin-left: 10px;
}
.Kamiz{
    font-family: "Roboto", serif;
    font-size: 14px;
    width: 240px;
    display: inline-block;
    margin-top:-5px;
}
.dollar12{
    color: #FF730D;
    font-size: 14px;
    font-family: "Roboto", serif;
    display: inline;
    margin-top: -5px;
}
.D15{
    color: #978A89;
    display: inline;
    font-family: "Roboto", serif;
    font-size: 14px;
    margin-left: 30px;
}
.Savat{
    font-family: "Roboto", serif ;
    margin-top: 15px;
    background-color: #FF730D;
    color: white;
    border: 3px solid #FF730D;
    border-radius: 5px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
}
.div2{
    margin-left: 250px;
    background: #FEFAFA;
border: 1px solid #FF730D;
width: max-content;
padding: 15px;
border-radius: 5px;
padding-bottom: 20px;
display: inline-block;

}
.E5{
    color: #978A89;
    font-family: "Roboto", serif;
display: inline-block;
font-size: 12px;
margin-left: 10px;
}
.Kamiz{
    font-family: "Roboto", serif;
    font-size: 14px;
    width: 240px;
    display: inline-block;
    margin-top:-5px;
}
.dollar12{
    color: #FF730D;
    font-size: 14px;
    font-family: "Roboto", serif;
    display: inline;
    margin-top: -5px;
}
.D15{
    color: #978A89;
    display: inline;
    font-family: "Roboto", serif;
    font-size: 14px;
    margin-left: 30px;
}
.Savat{
    font-family: "Roboto", serif ;
    margin-top: 15px;
    background-color: #FF730D;
    color: white;
    border: 3px solid #FF730D;
    border-radius: 5px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
}
.div3{
    margin-left: 250px;
    background: #FEFAFA;
border: 1px solid #FF730D;
width: max-content;
padding: 15px;
border-radius: 5px;
padding-bottom: 20px;
display: inline-block;

}
.E5{
    color: #978A89;
    font-family: "Roboto", serif;
display: inline-block;
font-size: 12px;
margin-left: 10px;
}
.Kamiz{
    font-family: "Roboto", serif;
    font-size: 14px;
    width: 240px;
    display: inline-block;
    margin-top:-5px;
}
.dollar12{
    color: #FF730D;
    font-size: 14px;
    font-family: "Roboto", serif;
    display: inline;
    margin-top: -5px;
}
.D15{
    color: #978A89;
    display: inline;
    font-family: "Roboto", serif;
    font-size: 14px;
    margin-left: 30px;
}
.Savat{
    font-family: "Roboto", serif ;
    margin-top: 15px;
    background-color: #FF730D;
    color: white;
    border: 3px solid #FF730D;
    border-radius: 5px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
}