.card{
    width: 200px;
    height: 200px;
    margin: 100px auto;
    background-color: green;
    box-shadow: 10px 10px 10px red;
}
h1{
    width: max-content;
    text-shadow: 230px 0px 10px red;
}