div{
width: 300px;
height: 420px;
border: 13px solid rgb(50, 49, 49);
background-color:rgb(50, 49, 49) ;
border-radius: 4%  
}
img{
    border-radius: 4%;
}
h1{
    width: max-content;
    height: max-content;
    
    color: rgb(68, 255, 0);
}
p{
    color: aliceblue;
}
button{
    width: 280px;
    height: 45px;
    border: 3px solid  rgb(68, 255, 0);
    border-radius: 10px;
    background-color:rgb(50, 49, 49) ;
    color: rgb(68, 255, 0);
}
del{
color: rgb(105, 103, 103);
}